@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;

}

body {
    overflow-x: hidden;
    background: var(--white);

}

:root {
    --black: #333;
    --green: #017143;
    --white: #fff;
    --white2: #fff;
    --black2: #333;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

section.home {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    z-index: 10;
}

header .logo {
    max-width: 70px;
}

header .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    color: var(--black);
    font-weight: 500;
}

/* content */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.content .text-box {
    max-width: 600px;
    z-index: 1;
    margin-right: 20px;
}

.content .text-box h2 {
    font-size: 3em;
    color: var(--black);
    line-height: 1.4em;
    font-weight: 700;
    margin-bottom: 10px;
}

.content .text-box h2 span {
    font-size: 1.2em;
    color: var(--green);
}

.content .text-box p {
    color: var(--black);
}

.content .text-box .button {
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--green);
    color: var(--white2);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}

.content .img-box {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .img-box::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: var(--green);
    border-radius: 50%;
}

.content .img-box img {
    z-index: 1;
    max-width: 350px;
}

/* social */
.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.social li {
    list-style: none;
}

.social li a {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    background: var(--black2);
    color: var(--white2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li a .fa {
    font-size: 1.2em;
}

.social li a:hover {
    background: var(--green);
}

/* theme switch */
.theme-switch {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--black);
    display: inline-flex;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-switch::before {
    content: "\f186";
    font-family: fontAwesome;
    color: var(--white);
    font-size: 20px;
}

.theme-switch.active::before {
    content: "\f185";
}

/* dark */
.dark {
    --black: #fff;
    --white: #113828;
    --black2: #124e36;
}

.dark .content .text-box h2 span {
    color: #00ff9b;
}

/* responsive */
@media(max-width:991px) {
    header {
        padding: 20px 0;
    }

    .social {
        padding-top: 20px;
    }

    .content {
        flex-direction: column-reverse;
    }

    .content .text-box,
    .content .img-box {
        max-width: 100%;
        margin-right: 0;
    }

    .content .img-box img {
        max-width: 250px;
    }

    .content .img-box::before {
        /* width: 125px;
        height: 125px; */
        clip-path: circle(125px at center);
    }

    .content .text-box h2 {
        font-size: 1.75em;
    }

    /* navigation */
    .home .navigation {
        display: none;
    }

    .navigation.active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: var(--white);
        flex-direction: column;
    }

    header ul li {
        margin: 10px 0;
    }

    header ul li a {
        font-size: 1.5em;
        font-weight: 300;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        filter: invert(1);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }

    .toggle.active {
        background: url(images/close.png);
        filter: invert(1);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* dark */
    .dark .toggle {
        filter: invert(0);
    }
}